@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300&family=Stint+Ultra+Expanded&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'pontano sans', serif;
    font-weight: 300;
    color: #1b4552;
}

/*headings and logo*/

h1, h2 {
    font-family: 'stint ultra expanded';
    color: #183e4b;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    font-weight: 1000;
}

/* nav links*/

#menu {
    font-size: 150%;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    display: inline;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    color: #d74a49;
}

/* hero image */

#hero-image {
    background: url('../images/The_Parade\,_Leamington_Spa_\(4\)_\(adjusted\).jpg') no-repeat center center;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

/* history section */

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 20px;
}

.flex-text {
    text-align: justify;
}

.flex-image {
    height: 250px;
}

/* footer */

footer {
    height: 150px;
}

.social-media {
    display: flex;
    justify-content: space-around;
}