@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Libre Baskerville', serif;
}
h1 {
    color: #194a7a;
    text-transform: uppercase;
}